* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.logo {
  width: 8%;
  height: 8%;
  margin: 2px 5px;
}
.logo:hover {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}
.co {
  margin-bottom: 8px;
}
.co1 {
  text-align: center;
  background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}
.co2 {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
  padding: 14px;
  position: sticky;
}
.co2 a {
  text-decoration: none;
  font-size: 22px;
  color: black !important;
}

.co2 a:hover {
  border: 2px solid black;
}

footer {
  padding: 20px;
  background-color: #333;
}
footer a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.container1,
.container2,
.container3,
.container4 {
  margin: 5px;
  padding: 5px;
}
.container1 {
  width: 10%;
}
.container1 img {
  width: 100%;
}
.container2 {
  width: 30%;
}
.container3 {
  width: 30%;
}
.container4 {
  width: 25%;
}
.star {
  padding: 5px;
  background-color: green;
  color: white;
  border-radius: 2px;
}
.price {
  margin: 10px;
}

.des {
  margin: 10px;
}
.head {
  margin: 10px;
}
.rate {
  margin-top: 10px;
}
#gre {
  color: grey;
}
.btn {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.uni {
  padding: 15px;
  width: 70%;
  margin: 2px;
  border: none;
  color: white;
  background-color: orange;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}
.uni2 {
  padding: 15px;
  width: 70%;
  /* margin: 15px; */
  margin: 2px;
  border: none;
  color: white;
  background-color: rgb(255, 102, 0);
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}
