* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.logo {
  width: 8%;
  height: 8%;
  margin: 2px 5px;
}
.logo:hover {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}
.co {
  margin-bottom: 8px;
}
.co1 {
  text-align: center;
  background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}
.co2 {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
  padding: 14px;
  position: sticky;
}
.co2 a {
  text-decoration: none;
  font-size: 22px;
  color: black !important;
}

.co2 a:hover {
  border: 2px solid black;
}

footer {
  padding: 20px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: center;
  width: 30% !important;
  border: none;
  transition: all;
  transition-duration: 0.7s;
  /* border: 2px solid red; */
  background-color: white;
}
.container:hover {
  transform: scale(1.05);
  box-shadow: 3px 2px 20px black;
  text-decoration: underline;
}
.smal {
  width: 280px;
  height: 220px;
  margin: 20px auto;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
body {
  background-image: url("../Images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
